body{
    font-family: verdana;
}
p {
    font-family: Times New Roman;
    font-size:20px;
    text-align: center;
}
.light-theme{
    background: var
}
.card {
    background-color: rgba(131, 236, 145, 0.393);
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.9);
   
  }
  table {
    border-collapse: collapse;
    width:100%;
  } 
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(232, 184, 232);
  }
  th {
    background-color: rgb(249, 175, 249);
  }
  h2 {
    color: rgb(232, 184, 232)
  }
  h1 {
    color: rgb(232, 184, 232)
  }
  p {
    font-size:25px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    
  }
  .carousel-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item {
    min-width: 100%;
    height: auto;
  }
  .carousel-item img {
    width: 50%;
    height: auto;
    object-fit: cover
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba (0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px
}
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.dot.active {
    background: white;
}