.c-card{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom:30px;
    margin-top: 10%;
    background-color: rgb(241, 220, 243);
    background: radial-gradient( rgb(241, 220, 243), white );
}
.imagem-card{
    position: relative;
   margin-left: 10px;
   margin-right: 200px;
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    border: 5px solid rgb(103, 194, 221); 
    object-fit: cover;   
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.container img{
    max-width: 100%;
    display: flex;
    width: 100%;
    height: 100%;

}
header{
    background-color: rgba(253, 211, 253, 0.89);
    background-image: url(../500406_b0362.gif);
    color: rgb(103, 194, 221);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgba(253, 211, 253, 0.89) 3px solid;
}
header h1{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
}
nav ul {
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline;
    padding: 0 20px;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border: 1px solid;
    text-align: center;
}
thead {
    background-color:rgba(253, 211, 253, 0.89);
}
.Formulario {
    margin-top: 20px;
 }
.Formulario label {

    display:block;
    margin-bottom: 5px;
}

.Formulario input, textarea{
    width: 100%;
}
button {
    width: 100%;
    border-radius: 3px;
    background: rgb(186, 229, 247);
    color:rgb(0, 0, 0);
    height: 5vh;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
button:hover{
    background: rgb(83, 42, 70);
}
footer{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(253, 211, 253, 0.89);
    color: rgb(0, 0, 0);
    text-align: center;
}
.midia{
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(103, 194, 221, 0.267);
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(253, 211, 253, 0.89); 
}
nav ul {
    padding: 0px;
    list-style: none;
    text-align: center;
 }

nav li {
    display: inline;
    padding: 0 20px;
}
h2{
    color: rgb(150, 99, 23);
}

