.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    margin: 20px auto;
    border-radius: 10px;
    color: #4b5c47;
    
    
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    
}

.search label{
    height: 25px;
    
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
}

.card{
    background-color: #af000000;
    border: 1px solid #e4e9f0;
}

.card:hover{
    cursor: pointer;
}

.card{
 font-size: 10px;
 padding-left: 5px;
}