body{
    background-color: rgb(216, 216, 217);
}
header{
    background-color: rgba(143, 55, 244, 0.882);
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
}
.texto{
    position: relative;
    margin-left: 25%;
    display: inline-flex;
}
.pontos{
    margin-left: 50%;
    display: inline-flex;
}
.quiz{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 15%;
    margin-left: 30%;
    margin-right: 25%;
    width: 800px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px;
    border-radius: 8px;
}
button{
    display: flex;
    text-align: center;
    width: 300px;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.botao1 {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    justify-content: center;
}
.botao2{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    justify-content: center;
}
.bot1{
    background-color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bot2{
    background-color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bot3{
    background-color: rgb(230, 230, 34);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bot4{
    background-color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

button:hover{
    cursor:pointer;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}