img{
    width: 100px;
    border-radius: 7px;
}
.um{
    background-color: rgb(183, 157, 123);
    margin-bottom: 7%;
}
.dois{
    background-color: rgb(183, 157, 123);
    margin-bottom: 7%;
}
.tres{
    background-color: rgb(183, 157, 123);
    margin-bottom: 7%;
}
.quatro{
    background-color: rgb(183, 157, 123);
    margin-bottom: 7%;
}
.cinco{
    background-color: rgb(183, 157, 123);
    margin-bottom: 7%;
}
