*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(166, 196, 243, 0.683);
}
nav{
    display: flex;
    margin-left: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20rem;
    text-align: center;
    background-color: rgb(202, 227, 249);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(202, 227, 249);
    margin-top: 45px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 7px;
}
h1{
    text-align: center;
    font-size: 40px;
}
.produtos{
    font-size: 40px;
    color: rgb(205, 166, 251);
    margin-left: 20px;
    text-decoration-line: none;
}
body{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 90px;
    background-color: white;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 3%;
    margin-bottom: -3%;
}
.g{
    margin-top: 60px;
    background-color: rgba(255, 228, 196, 0.797);
    border-radius: 10px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -10%;
}
.fem{
    background-color: rgb(183, 157, 123);
    width: 200px;
    height: 260px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 7px;
    text-align: center;
}
.masc{
    background-color: rgb(183, 157, 123);
    width: 200px;
    height:260px;
    margin-left: 30%;
    margin-top: -27.5vh;
    border-radius: 7px;
    text-align: center;
}
.lente{
    background-color: rgb(183, 157, 123);
    width: 200px;
    height: 260px;
    margin-left: 60%;
    margin-top: -27.5vh;
    border-radius: 7px;
    text-align: center;
}
.infantil{
    background-color: rgb(183, 157, 123);
    width: 200px;
    height: 260px;
    margin-left: 87.6%;
    margin-top: -27.5vh;
    border-radius: 7px;
    text-align: center;
}
.fem img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.masc img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.infantil img{
   width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.lente img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fem:hover{
    transform: scale(1.05);
}
.masc:hover{
    transform: scale(1.05);
}
.lente:hover{
    transform: scale(1.05);
}
.infantil:hover{
    transform: scale(1.05);
}
a{
    text-decoration-line: none;
}