body{
    background: #f5c9d0;
    background: radial-gradient(circle, #2b606b 0%, #fff8e3 100%);
}

img {
    display: flex;
    align-items: center;
    margin-left: 18%;
}

.botao{
  display: flex;
  padding-top: 10%;
}

button {
    border-radius: 20px;
    background-color: rgb(141, 170, 141);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    justify-content: space-between;
    width: 200%;
}

.next  {
    display: flex;
    padding-left: 78%;
    
}

.back {
    display: flex;
    padding-left: 2%;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease
}
a {
    text-decoration: none;
    color: black;
}
