@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

 *{
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 6%;
  font-size: 90px;
}

body{
    background: #f5c9d0;
    background: radial-gradient(circle,rgba(245, 201, 208, 1) 0%, rgb(249, 227, 255) 100%);
}

button {
    border-radius: 20px;
    background-color: rgb(141, 170, 141);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    justify-content: space-between;
    width: 200%;
}

.botao{
  display: flex;
  padding-top: 5%;
}

.next  {
    display: flex;
    padding-left: 440%;
}

.back  {
    display: flex;
    padding-left: 2%;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease
}

