*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    color: rgb(35, 49, 35);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

body{
    background-image: url('/fundo.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 60px;
}

nav { 
    padding : 1.5rem  2rem ; 
    background-color : #95b69086 ; 
    color : #fff ; 
}
.checkbtn { 
    font-size: 1,5rem ; 
    color: branca; 
    cursor : ponteiro; 
}
.nav-mobile { 
    display : none; 
}
#check :checked ~ .nav-mobile { 
    display : block; 
}
.nav-mobile { 
    position : absolute; 
    top : 4.5rem ; 
    left : 0 ; 
    background : #222831 ; 
    z-index : 1 ; 
    width : 200px ; 
} 
.nav-mobile  a { 
    color : #fff ; 
    padding : 1rem  1.5rem ; 
    display : block; 
}


@media  only screen and ( max-width : 992px ) { 
 .checkbtn { 
    display : block; 
    font-size : 5rem ; 
    position : absolute; 
    top : 30px ; 
    left : 40px ; 
} 
.nav-mobile { 
    top : 160px ; 
    width : 100% ; 
} 
.nav-mobile  a { 
    font-size : 2rem ; 
    padding : 2rem  3rem ; 
} 
}

.subsub {
    position: relative;
    display: inline-block;
}

.subcategoria {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.subcategoria li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.subcategoria li:hover {
    background-color: #ddd;
}

.subsub:hover .subcategoria {
    display: block;
}


a{
    margin-left: 30px;
}
.meta{
    width: 200px;
    height: 296px;
    margin-left: -29px;
}
.um{
    border-radius: 5px;
    column-count: 2;
    
}
 .um p{
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    line-height: 3.0;
    padding-right: 30%;
    margin-top: -10px;
    margin-left: -80px;

}
.prince{
    width: 180px;
    height: 290px;
    margin-bottom: 83.8%;
}
.dois p{
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    line-height: 2.5;
    margin-left: -100px;
    padding-right: 45%;
}

.dois{
    column-count: 2;
    margin-left: -10%;
}

.tres img {
    width: 180px;
    height: 290px;
}

.tres {
    column-count: 2;
    margin-left: -10%;
    width: 500px;
    height: 300px;
}

.tres p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 2.5;
    margin-left: -65px;
}

.alta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-fill: balance;
  column-fill: auto;
  column-fill: balance;
  padding-left: 10%;
  margin-top: 100px;
}

.um:hover, .dois:hover, .tres:hover, .quatro:hover {
    cursor: pointer;
    transform: scale(1.01);
}


footer{
    padding : 1.5rem  2rem ; 
    background-color : #95b69086 ; 
    color : #fff ; 
}

