.logo{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('/madeira3.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 60px;
}

nav { 
    padding : 1.5rem  2rem ; 
    background-color : #e4e9f0 ; 
    color : #fff ; 
}
.checkbtn { 
    font-size: 1,5rem ; 
    color: branca; 
    cursor : ponteiro; 
}
.nav-mobile { 
    display : none; 
}
#check :checked ~ .nav-mobile { 
    display : block; 
}
.nav-mobile { 
    position : absolute; 
    top : 4.5rem ; 
    left : 0 ; 
    background : #222831 ; 
    z-index : 1 ; 
    width : 200px ; 
} 
.nav-mobile  a { 
    color : #fff ; 
    padding : 1rem  1.5rem ; 
    display : block; 
}


@media  only screen and ( max-width : 992px ) { 
 .checkbtn { 
    display : block; 
    font-size : 5rem ; 
    position : absolute; 
    top : 30px ; 
    left : 40px ; 
} 
.nav-mobile { 
    top : 160px ; 
    width : 100% ; 
} 
.nav-mobile  a { 
    font-size : 2rem ; 
    padding : 2rem  3rem ; 
} 
}

.subsub {
    position: relative;
    display: inline-block;
}

.subcategoria {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.subcategoria li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.subcategoria li:hover {
    background-color: #ddd;
}

.subsub:hover .subcategoria {
    display: block;
}


a{
    margin-left: 30px;
}
.meta{
    width: 180px;
}
.um{
    display: flex;
}
 .um p{
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 9px;
    padding-right: 80%;
    line-height: 2.0;
}